<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!-- Database Connection String -->
  <connectionStrings>
    <add name="SMRBankDBConnectionString" connectionString="Data Source=EC2AMAZ-895V95R;Initial Catalog=SMRBankDB;User ID=sa;Password=Password=test" providerName="System.Data.SqlClient" />
  </connectionStrings>
   <!-- Custom 404 error page -->
  <system.web>
    <compilation debug="true" />
    <customErrors mode="On" defaultRedirect="~/errors/404.aspx">
      <error statusCode="404" redirect="~/errors/404.aspx" />
    </customErrors>
  </system.web>  
  <!-- Send mail -->
  <!--<system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.gmail.com" port="587" userName="YOUR_GMAIL_ID" password="YOUR_GMAIL_PASSWORD"/>
      </smtp>
    </mailSettings>
  </system.net>-->  
</configuration>
